.homePage {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 7rem;
margin-bottom: 8rem;
}

#fullscreen-image {
width: 100%;
height: 100%;
    
}
 
.fullscreen-image__article {  
height: 100%;
width: 100%;
}
    
.fullscreen-image__section {
width: 100vw;
height: calc(100vh - 1.6rem - 4rem);
display: flex;
align-items: center;
justify-content: center;
}

.news__section{
width: 100vw;
height: 13rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}
    
.news__heading { 
text-rendering: optimizeLegibility;
text-transform: uppercase;
font-weight: bolder;
font-size: 32px;
}

.news__heading::before,
.news__heading::after {
  content: '';
  display: inline-block;
  height: 1px; /* Höjden på linjen, justera efter behov */
  width: 200px; /* Bredden på linjen på varje sida, justera efter behov */
  background-color: #000; /* Färgen på linjen, justera efter behov */
  margin: 8px 18px; /* Avståndet mellan linjen och texten, justera efter behov */
}

    
.news__article {
height: 100%;
width: 85%;

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
gap: 1rem;  
}
    
.news__article-box { 
height: 190px;
width: 190px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
border-radius: 20%;
    
}
 
.news__article-box img {  
height: 100%;
width: 100%;
border-radius: 20%;
object-fit: cover; 
}

.image__section-lenght {
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10rem;
margin-bottom: 10rem;
}
    
.image__section-lenght-inner {
    width: 85%;
height: 100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
    
.image__section-lenght-inner img {
width: 100%;
height: 100%;
object-fit: cover;
}

.brand__section{
width: 100vw;
height: 6rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
        
.brand__heading {    
text-rendering: optimizeLegibility;
text-transform: uppercase;
font-weight: bolder;
font-size: 32px;


}

.brand__heading::before,
.brand__heading::after {
  content: '';
  display: inline-block;
  height: 1px; /* Höjden på linjen, justera efter behov */
  width: 200px; /* Bredden på linjen på varje sida, justera efter behov */
  background-color: #000; /* Färgen på linjen, justera efter behov */
  margin: 8px 18px; /* Avståndet mellan linjen och texten, justera efter behov */
}


    
.brand__article {
height: 100%;
width: 85%;

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
        
.brand__article-box {     
height: 100px;
width: 110px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
border-radius: 20%; 
}
    
.brand__article-box img {
height: 100%;
width: 100%;
border-radius: 20%;
object-fit: cover;
}