body {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #eeeeee;
color: black;

}

.dark-mode {
  background-color: #212529;
    color: white;
}






.image__section {
width: 100vw;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 2rem;
}







