@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Space Mono', monospace;
background-color: #eeeeee;
color: black;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.dark-mode {
    background-color: #343a40;
    color: white;
}

.dark-mode #navbar {

background-color: #a970ff;
color: #eeeeee;
}

#GoToTop__Button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 4px;
  transition: background-color 0.3s ease; 

}

#GoToTop__Button:hover {
  background-color: #409afa;
}

.topNav {

height: 1.7rem;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-color: #eeeeee;

}

.topNav__inner {

height: 100%;
width: 65%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;

}

.topNav__inner-heading {
font-size: 12px;

}

.nav {
background-color: black;
width: 100vw;
height: 4.4rem;
display: flex;
justify-content: center;
align-items: center;
}
    
.navbar {
width: 85%;
height: 100%;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center; 
flex-direction: row;

}
    
.navbar__info-1 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    
  }
    
.navbar__info-2 {   
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.navbar__info-3 { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    
}


.navbar__info-3-cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin-top: 0.8rem;
  cursor: pointer;
}

.navbar__info-3-cart-icon svg {
  margin-bottom: -5px;
  cursor: pointer;
}

.navbar__info-3-cart-icon-text {
  font-size: 14px;
  text-align: center;
  margin-top: 0; 
  color: #fff;
  cursor: pointer;
}

.navbar__info-3-user-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 0.8rem;
  cursor: pointer;
}

.navbar__info-3-user-icon svg {
  margin-bottom: -5px; 
  cursor: pointer;
}

.navbar__info-3-user-icon-text {
  font-size: 14px;
  text-align: center;
  margin-top: 0; 
  color: #fff;
}


.navbar__info-3-cart-icon:hover {
  transform: scale(1.05);
}

.navbar__info-3-user-icon:hover {
  transform: scale(1.05);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .burger-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    z-index: 2;
    color: #eeeeee;
  }


  
  .burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 46px;
    height: 22px;
    justify-content: space-between;
  }

  .burger-icon:hover {
    transform: scale(1.05);
  }

  
  .bar {
    width: 44px;
    height: 3px;
    background-color: #eeeeee;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 80%;
    max-width: 350px;
    background-color: #343a40;
    padding-top: 80px;
    text-align: center;
    transition: left 0.3s ease-in-out;
    z-index: 3;
  }
  
  .menu-list.active {
    left: 0;
  }
  
  .menu-list a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin: 20px;
    transition: color 0.3s ease-in-out;
  }
  
.menu-list a:hover {
    color: black;
}
.logo {
text-decoration: none;
color: #fff;
font-size: 32px;
}

.logo:hover {
  transform: scale(1.05);
}

.search {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.searchbar {
display: flex;
flex-direction: row;
color: white;

}
.searchbar__input {
  padding: 10px;
  border-color: #fff; 
  background-color: #fff;
  border-radius: 5px;
  font-size: 18px;
  width: 220px;
  height: 45px;
  outline: none;
  font-weight: bold;
  color: black;
  transition: border-color 0.3s ease-in-out;

}

.searchbar__input::placeholder {
  color: black; /* Byt ut detta mot önskad färgkod */
font-size: 16px;
}
.searchbar__input:focus {
  border-color: #343a40 /* Mörkare blå färg vid fokus */
}
.searchbar__button {
  background-color: #007BFF; /* Blå färg för knappen */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px; 
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}
.searchbar__button:hover {
  background-color: #409afa;  /* Mörkare nyans av blå vid hover */
}

.category__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 2rem;
  margin-top: 2rem;

}
  
.category__section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 72%;
  gap: 20px;
  text-align: center;
}
.category__section-inner-heading {
  font-size: 32px;
}
  
.category__section-inner-text {
font-size: 18px;
}

.filter-navigation__section{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 5vh;
margin-bottom: 1.5rem;
}
  
.filter-navigation__article{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 1rem;
width: 85%;
height: 100%;

}
  
.filter-navigation__article-box{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
border: 1px solid black;
padding: 8px 10px;
cursor: pointer;

}
  
.filter-navigation__article-box:hover {
  transform: scale(1.05);
}


.card__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
 }

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-gap: 1px 20px;
  justify-content: space-evenly;
  padding: 5px 25px;
  width: 89%;
}

.card {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 550px;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
 text-transform: uppercase;
 border: 2px solid #adb5bd;

}

#card__image-style{

height: 220px;
width: 220px;
}

.card:hover {
  transform: scale(1.05);
}

.card__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.card__heading,
.card__amount,
.card__price {
  margin: 10px 0;
}

.card__heading {
font-size: 32px;
color: black;
}
.card__name {
font-size: 16px;
color: black;
}

.card__amount {
font-size: 16px;
color: black;
}

.card__price {
font-size: 24px;
font-weight: bold;
color: black;
}

.card__button {
  /* background-color: #995392; */
  background-color:  #2d2d2d;
  font-weight: bolder;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  height: 50px;
  width: 99%;
  opacity: 1;
color: #fff;
  font-size: 18px;
}

.card__button:hover {

  background-color:  rgb(77, 75, 75);
}




.breadcrumbs {
  background-color: #2d2d2d;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.breadcrumb-item {
  margin-right: 10px;
  color: #a0a0a0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.breadcrumb-item:last-child {
  color: white;
}

.breadcrumb-item .arrow {
  margin: 0 5px;
}








/* 
.cards {
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
  

}

.cards * {
    box-sizing: border-box;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin: auto;
}

.card:hover {
  transform: scale(1.05);
}

#card__image-style {

  height: 300px;
  width: 300px;
  
}

.card__image {

  width: 100%;
 

}

.card__heading {

  font-size: 1.7rem;
  font-weight: bold;

}

.card__amount {

font-size: 0.9rem;
}

.card__price {

  font-size: 1.4rem;
  font-weight: bold;
}




.card__button {
    background-color: #a970ff;
    font-weight: bolder;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    height: 45px;
    width: 220px;
    opacity: 1;
    color: black;
    margin-bottom: 1rem;
    font-size: 16px;
  border-color: #fff;
  
}

.card__button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}



 */




  .footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    width: 100vw;
    font-family: 'Space Mono', monospace;
    margin-top: 6rem;
    }
    
    .footer__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    width: 80%;
    font-family: 'Space Mono', monospace;
    margin-top: 2rem;
    }
    
    .footer__inner-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    }
    
    
    .footer__inner-bottom {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    color: #fff;
    gap: 10px;
    font-family: 'Space Mono', monospace;
    margin-bottom: 2rem;
    
    }
    